#footer
  .container
    ul.list-inline.pull-left
      li © 2014 Team Happy Homes.
    ul.list-inline.pull-right
      li
        a(href='https://github.com/GlasgowOpenHappyHomes/Frontend') GitHub Project
      li
        a(href='https://github.com/GlasgowOpenHappyHomes/Frontendissues') Issues
