.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Happy Homes
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Home'?'active':undefined)
          a(href='/') Home
        li(class=title=='Contact'?'active':undefined)
          a(href='/contact') Contact
      ul.nav.navbar-nav.navbar-right
        li(class=title=='Search'?'active search-input':'search-input')
          form
            <select data-placeholder="Search" style="width:350px;v display:none;" class="chosen-select"></select>
            input(id="search-button" type='button',value='Search')  

        li(class=title=='Filters'?'active filters-button':'filters-button')
          a(href='#') Filters